/* DEIXAR TORTINHO: https://codepen.io/matthewsmith_io/pen/rGJdwa
INSPIRA��O: https://elissonkario.com.br/ */

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin:0;
    display:grid;
    grid-template-areas: 'header header header'
    'curso curso curso'
    'conteudo conteudo conteudo'
    'aulas aulas aulas'
    'certificacao certificacao certificacao'
    'lab lab lab'
    'footer footer footer';
    grid-template-rows: 500px /*header*/
    400px /*curso*/
    500px /*conteudo*/
    800px /*aulas*/
    90vh /*certificacao*/
    100vh /*lab*/
    30vh /*footer*/;
    font-size: 18px;
}


h1 {
    color:white;
    overflow-wrap: break-word;
    font-size: 55px;
    margin: 0px;
}

h2 {
    color:white;
    overflow-wrap: break-word;
    font-size: 45px;
    margin: 0px;
}

h3 {
    color:white;
    overflow-wrap: break-word;
    font-size: 30px;
    margin: 0px;
}

h4{
    color:purple;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
}

h5{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 10px 0px 0px;
}


h6{
    color: white;
    font-size:38px;
    padding:0px;
    margin:2px;
    text-decoration: underline;
}

/* ------------------------------ HEADER ---------------------------------*/

header {
    grid-area: header;
    background-color:black;
}

header p {
    color:white;
    width:300px;
    font-size:30px;
}

.cabecalho {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}


#conteudo{
    width: 100%;
    display: flex;
    align-items: center;
}

#titulo {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* MENU */
.menu_hamburguer{
    width:200px;
    height: 200px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.traco{
    width: 100px;
    height: 10%;
    background-color: white;
    color:white;
    margin: 10px;
}

.sumir_menu_hamburguer{
    display: none;
    transition: 10s;
}

.menu_X{
    margin-top:-40px;
    width:200px;
    height: 200px;
    display: none;
}

.X{
    width:200px;
    height: 200px;
    margin: 10px;
    color: white;
}

.menu_X img{
    margin-top:70px;
    width:100px;
    height: 100px;
}

.aparecer_menu_x{
    display: block;
}

.menu_navegacao{
    display:block;
    justify-content:center;
    width: 100%;
    margin:8px;
    background-color:none;
    opacity:0.0;
    margin-top: 550px;
    margin-left: -220px;
    transition:10s;
}

.menu_navegacao a{
    color: black;
    text-decoration: none;
}

.aparecerMenuNavegacao{
    opacity:1.0;
    background-color: none;
    display:block;
    transition: 5s;
    margin-top: 200px;
    margin-left: -220px;
}





/* ------------------------------ CURSO ---------------------------------*/
.curso{
    grid-area: curso;
    /* border-top: 5px solid white; */
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
    background-color:black;
}

.curso p {
    color:white;
    width:100%;
    padding:0px;
    margin:0;
    text-align: left;
    margin-bottom: 3px;
}

.cuso-mastertech{
    padding: 80px;
    height: 100px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.cont_cuso-mastertech{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.cont_cuso-mastertech p{
    font-size: 20px;
}

.subtitulo{
    width: 100%;
    font-size:30px;
    margin-bottom: 5px;
    text-decoration: none;
}

#entrelinhas {
    font-size:20px;
    opacity: 0.7;
}


/* ------------------------------ CONTEUDO ---------------------------------*/
.conteudo{
    grid-area: conteudo;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo_titulo{
    justify-content: center;
    align-items: center;
}

.conteudos-aprendidos{
    padding: 20px 150px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.conteudos-aprendidos p{
    width:80%;
    opacity:0.6;
}

.itens{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* ------------------------------ AULAS ---------------------------------*/
.aulas{
    grid-area: aulas;
    background-color: #8A084B;
}

.portfolio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height:820px;
    /* margin-top:50px; */
}

.texto_aulas{
    width: 100%;
    height: 150px;
    padding:10px;
    margin-top:-30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_port{
    display: flex;
    margin-left: 140px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.computador{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.base1{
    background-color:black;
    width:200px;
    height:50px;
}
.base2{
    background-color:black;
    width:300px;
    height:15px;
}

.botoes_front{
    margin-top:30px;
}

.proximo{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: white;
    background-color: black;
    background-color: none;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.proximo:hover{
    background-color: white;
    color: black;
}



/* ------------------------------ CERTIFICACAO ---------------------------------*/
.certificacao {
    grid-area: certificacao;
    background-color:rgb(255, 255, 255);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.certificacao_descricao{
    width:50%;
    height:100%;
    background-color: white;
    z-index: 1000;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.certificacao_descricao p{
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 10px 70px 0px;
    text-align: center;
}

.certificacao_descricao ul{
    color: black;
    font-family: 'Roboto', sans-serif;
}

.pop_up{
    background-color: black;
    color: white;
    width:300px;
    height:50px;
    margin-top: 50px;
}

.certificacao_imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:100%;
    background-color: blue;
}

.lab {
    grid-area: lab;
    background-color:crimson;
    z-index: 1001;
}

footer {
    grid-area: footer;
    background-color: black;
}


.arte{
    width: 90%;
}

.artes{
    width: 500px;
    transform: translateX(-50vw);
    margin-top: 50px;
}

.aparecerPopUp{
    transform: translateX(5vw);
    transition: 8s;
}


.links {
    margin:8px;
    width: 30px;
    height: 50px;
    background-color: white;
    color: black;
}

.fundo_p{
    width: 100%;
    padding: 15px;
    color: white;
    background-color:black;
}

.img_hamb{
    width:100%;
}

.icon_item{
    width:50px;
    height:50px;
}


/* IMAGENS */
.img_header{
    height: 650px;
    background-image: url(imagens/header.png);
    background-size: cover;
}


.img_nome_titulo{   
    margin-top:50px;
    padding:15px;
    margin:20;
}

.img_aulas {
    width: 500px;
    align-items: center;
    border: 15px solid black;
    border-bottom: 40px solid black;
}

.img_certificados {
    width: 500px;
    align-items: center;
}

.campo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#img_complemento {
    width:25%;
    margin-top:10px;
}


@media(max-width:650px){
    h5{
        color:white;
        overflow-wrap: break-word;
        font-size: 35px;
    }
    
    .img_nome_titulo{
        width:300px;
        width: 40px;
    }
    
    .cabecalho {
        margin-left:0px;
    }
    
    .menu_navegacao{
        margin-left: -400px;   
    }
    
    .aparecerMenuNavegacao{
        margin-left: -400px;
        opacity:1.0;
    }
    
}