/* DEIXAR TORTINHO: https://codepen.io/matthewsmith_io/pen/rGJdwa
INSPIRA��O: https://elissonkario.com.br/ 
https://lematworks.tumblr.com/ */

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin:0;
    display:grid;
    grid-template-areas: 'header header header'
    'curso curso curso'
    'conteudo conteudo conteudo'
    'aulas aulas aulas'
    'certificacao certificacao certificacao'
    'footer footer footer';
    grid-template-rows: 
    500px /*header*/
    400px /*curso*/
    500px /*conteudo*/
    800px /*aulas*/
    600px /*certificacao*/
    100px /*footer*/;
    font-size: 18px;
}


h1 {
    color:white;
    overflow-wrap: break-word;
    font-size: 55px;
    margin: 0px;
}

h2 {
    color:white;
    overflow-wrap: break-word;
    font-size: 45px;
    margin: 0px;
}

h3 {
    color:white;
    overflow-wrap: break-word;
    font-size: 30px;
    margin: 0px;
}

h4{
    color:purple;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
}

h5{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 20px 0px 0px;
}


h6{
    color: white;
    font-size:38px;
    padding:0px;
    margin:2px;
    text-decoration: underline;
}

h6 .blue {
    color: #213c94;
}

/* ------------------------------ HEADER ---------------------------------*/

header {
    grid-area: header;
    background-color:black;
}

header p {
    color:white;
    width:300px;
    font-size:30px;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
}


#conteudo{
    display: flex;
    align-items: center;
    width: 720px;
    height: 500px;
}

#titulo {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* MENU */
.menu_hamburguer{
    width:200px;
    height: 200px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.traco{
    width: 80px;
    height: 10px;
    background-color: white;
    color:white;
    margin: 10px;
}

.sumir_menu_hamburguer{
    display: none;
    transition: 10s;
}

.menu_X{
    margin-top:-40px;
    width:200px;
    height: 200px;
    display: none;
}

.X{
    width:200px;
    height: 200px;
    margin: 10px;
    color: white;
}

.menu_X img{
    margin-top:70px;
    width:100px;
    height: 100px;
    padding-left: 40px;
}

.aparecer_menu_x{
    display: block;
}

.navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_navegacao{
    display: flex;
    justify-content: center;
    margin: 8px;
    opacity: 0.0;
    margin-top: 120px;
    margin-left: -200px;
    z-index: -1;
    transition: 3s;
}

.menu_navegacao a{
    color: black;
    text-decoration: none;
}

.aparecerMenuNavegacao{
    opacity: 1.0;
    display: flex;
    transition: 4s;
    margin-top: -260px;
    margin-left: -200px;
    z-index: 1;
}

.links {
    display: inline-table;
    margin: 8px;
    padding: 3px;
    width: 125px;
    height: 20px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}



/* ------------------------------ CURSO ---------------------------------*/
.curso{
    grid-area: curso;
    /* border-top: 5px solid white; */
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
    background-color:black;
}

.curso p {
    color:white;
    width:100%;
    padding:0px;
    margin:0;
    text-align: left;
    margin-bottom: 3px;
}

.curso-mastertech{
    padding: 80px;
    height: 100px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
}

.cont_curso-mastertech{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 600px;
}

.cont_curso-mastertech p{
    font-size: 20px;
}

.subtitulo{
    width: 100%;
    font-size: 27px;
    margin-bottom: 5px;
    text-decoration: none;
}

#entrelinhas {
    opacity: 0.9;
    font-size:16px;
    padding-top: 5px;
}


/* ------------------------------ CONTEUDO ---------------------------------*/
.conteudo{
    grid-area: conteudo;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.conteudo_titulo{
    justify-content: center;
    align-items: center;
}

.conteudos-aprendidos{
    max-width: 1000px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.conteudos-aprendidos p{
    width:80%;
    opacity:0.6;
}

.itens{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* ------------------------------ AULAS ---------------------------------*/
.aulas{
    grid-area: aulas;
    background-color: #8A084B;
}

.portfolio{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 800px;
    /* margin-top:50px; */
}

.texto_aulas{
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    height: 72px;
}

.cont_port{
    display: flex;
    margin-left: 210px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.computador{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 170px;
}

.base1{
    background-color:black;
    width:200px;
    height:50px;
}
.base2{
    background-color:black;
    width:300px;
    height: 45px;
}

.botoes_front{
    margin-top:30px;
}

.proximo{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: white;
    background-color: black;
    background-color: none;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.proximo:hover{
    background-color: white;
    color: black;
}

.link_github {
    height: 405px;
}

/* ------------------------------ CERTIFICACAO ---------------------------------*/
.certificacao {
    grid-area: certificacao;
    background-color:rgb(255, 255, 255);
    border-top: 50px solid black;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.certificacao_descricao{
    width:50%;
    height:100%;
    background-color: white;
    z-index: 1000;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.certificacao_descricao p{
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 1px 30px 0px;
    text-align: center;
    margin: 26px 0px 0px;
}

.certificacao_descricao ul{
    color: black;
    font-family: 'Roboto', sans-serif;
}

.proximo-certificado{
    background-color: black;
    color: white;
    width: 541px;
    /* height: 40px; */
    padding: 10px;
    margin-top: 20px;
}

.proximo-certificado:hover {
    background-color: #3F51B5;
    color: white;
}

.certificacao_imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:100%;
    max-width: 600px;
    z-index:5;
}

footer {
    grid-area: footer;
    background-color: black;
}


.aparecerPopUp{
    transform: translateX(5vw);
    transition: 8s;
}


.fundo_p{
    width: 850px;
    height: 40px;
    padding: 15px 0px;
    color: white;
    background-color:black;
}

.img_hamb{
    width:100%;
}

.icon_item{
    width:100px;
    height:100px;
}

.mini_icon{
    margin: -6px 1px;
}


/* IMAGENS */
.img_header{
    height: 650px;
    background-image: url(imagens/header.jpg);
    background-repeat: repeat-x;
    /* background-size: cover; */
}


.img_nome_titulo{   
    padding:15px;
    margin-top: 30px;
}

.img_aulas {
    width: 500px;
    height: 350px;
    align-items: center;
    border: 15px solid black;
    border-bottom: 40px solid black;
}

.img_certificados {
    width: 500px;
    border: 15px solid #cacaca;
    align-items: center;
}

.img_mouse {
    width: 210px;
    margin-top: 0px;
}

.campo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#img_complemento {
    width: 350px;
    margin-top:10px;
}


@media(max-width:768px){

    header {
        max-width: 768px;
    }

    section {
        max-width: 768px;
    }

    body {
        grid-template-rows: 
    500px /*header*/
    400px /*curso*/
    1000px /*conteudo*/
    900px /*aulas*/
    950px /*certificacao*/
    50px /*footer*/;
    }

    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 25px;
    }

    h5{
        overflow-wrap: break-word;
        font-size: 20px;
    }
    
    .img_mouse {
        margin-top: -40px;
    }

    .img_nome_titulo{
        width:300px;
        width: 40px;
    }
    
    #img_complemento {
        width: 260px;
    }

    .img-certificados {
        width: 500px;
    }

    .cabecalho {
        margin-left:0px;
        max-width: 768px;
    }
    
    .menu_navegacao{
        margin-left: -62px;   
    }
    
    .aparecerMenuNavegacao{
        margin-left: -62px;
        opacity:1.0;
    }
    
    .mini_icon {
        margin: -11px -13px;
        transform: scale(0.7);
    }

    .curso-mastertech, .curso {
        max-width: 768px;
        flex-direction: column;
    }

    .cont_curso-mastertech p {
        font-size: 15px;
        text-align: center;
    }

    .subtitulo {
        font-size: 17px;
        text-align: center;
    }

    .entrelinhas {
        font-size: 13px;
        text-align: center;
    }

    #conteudo {
        max-width: 768px;
    }

    .conteudo {
        max-width: 768px;
        margin: 0 !important;
    }

    .conteudos-aprendidos {
        max-width: 768px;
        flex-direction: column;
    }

    .conteudos-aprendidos p {
        width: 400px;
        font-size: 16px;
    }

    .itens {
        padding:20px;
        flex-direction: row;
    }

    .cont_port {
        margin-left: 0;
        flex-direction: column;
        transform: scale(0.9);
    }

    .fundo_p {
        width: 590px;
        font-size: 15px;
    }

    .portfolio {
        max-width: 768px;
        height: auto;
    }

    .certificacao {
        flex-direction: column;
        justify-content: flex-start;
    }

    .certificacao_descricao {
        width: 100%;
        height:400px;
    }

    .certificacao_descricao p {
        font-size: 15px;
        padding: 0px 24px 0px;
    }

    .certificacao_imagens {
        height: auto;
    }

    .img-titulo {
        width: 160px;
    }


}

@media(max-width:767px){

    body {
        grid-template-rows: 
    500px /*header*/
    500px /*curso*/
    1300px /*conteudo*/
    900px /*aulas*/
    950px /*certificacao*/
    50px /*footer*/;
    }

    h3 {
        font-size: 30px;
    }
    
    h4 {
        font-size: 35px;
    }

    h5{
        overflow-wrap: break-word;
        font-size: 30px;
    }

    #img_complemento {
        width: 330px;
    }

    .mini_icon {
        margin: -7px 0px;
        transform: unset;
    }

    .cont_curso-mastertech p {
        font-size: 25px;
    }

    .subtitulo {
        font-size: 30px;
    }

    .entrelinhas {
        font-size: 25px;
    }

    .conteudos-aprendidos p {
        width: 300px;
        padding: 0px 50px;
        font-size: 26px;
    }

    .img-titulo {
        width: 300px;
    }

    .fundo_p {
        width: 100%;
        font-size: 15px;
        font-size: 20px;
    }

    .certificacao_descricao p {
        font-size: 15px;
        padding: 0px 24px 0px;
    }
    
    .cabecalho {
        flex-direction: column;
        position: relative;
    }

    .menu_hamburguer {
        position: absolute;
        right: 0;
        top: 0;
    }

    .menu_X img {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 50px;
        margin-left: 20px;
    }

    .X {
        margin: 50px;
    }
    .aparecerMenuNavegacao {
        display: grid;
        margin-left: 558px;
        margin-top: -770px;
    }

    .menu_navegacao{
        display: grid;
        margin-left: 558px;
        margin-top: -510px;
    }

    .menu_X{
        margin-top: -200px;
    }

    .links {
        padding: 5px;
    }

}